#contact {
    text-align: center;
}
.campus_life {
    border:1px solid #c7c7c7;
padding-left: 0px;
padding-right: 0px;
float:none;
}
.campus_life img {
    width:250px;
    height:150px;
}
.campus_life hr {
    width:230px;
}
.Achevements_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width:100%;
    display: inline-block;
}
